<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>tylt's Blog</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.tylt.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.tylt.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicServlet</display-name>
    <servlet-name>TopicServlet</servlet-name>
    <servlet-class>com.tylt.servlet.TopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicServlet</servlet-name>
    <url-pattern>/TopicServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.tylt.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TopicListServlet</display-name>
    <servlet-name>TopicListServlet</servlet-name>
    <servlet-class>com.tylt.servlet.TopicListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicListServlet</servlet-name>
    <url-pattern>/TopicListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicAddServlet</display-name>
    <servlet-name>TopicAddServlet</servlet-name>
    <servlet-class>com.tylt.servlet.TopicAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicAddServlet</servlet-name>
    <url-pattern>/TopicAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicUpdateServlet</display-name>
    <servlet-name>TopicUpdateServlet</servlet-name>
    <servlet-class>com.tylt.servlet.TopicUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicUpdateServlet</servlet-name>
    <url-pattern>/TopicUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicToAddServlet</display-name>
    <servlet-name>TopicToAddServlet</servlet-name>
    <servlet-class>com.tylt.servlet.TopicToAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicToAddServlet</servlet-name>
    <url-pattern>/TopicToAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TopicToUpdateServlet</servlet-name>
    <servlet-class>com.tylt.servlet.TopicToUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicToUpdateServlet</servlet-name>
    <url-pattern>/TopicToUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BloggerToAddServlet</display-name>
    <servlet-name>BloggerToAddServlet</servlet-name>
    <servlet-class>com.tylt.servlet.BloggerToAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BloggerToAddServlet</servlet-name>
    <url-pattern>/BloggerToAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.tylt.servlet.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BloggerAddServlet</display-name>
    <servlet-name>BloggerAddServlet</servlet-name>
    <servlet-class>com.tylt.servlet.BloggerAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BloggerAddServlet</servlet-name>
    <url-pattern>/BloggerAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BloggerDeleteServlet</display-name>
    <servlet-name>BloggerDeleteServlet</servlet-name>
    <servlet-class>com.tylt.servlet.BloggerDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BloggerDeleteServlet</servlet-name>
    <url-pattern>/BloggerDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BloggerToUpdateServlet</display-name>
    <servlet-name>BloggerToUpdateServlet</servlet-name>
    <servlet-class>com.tylt.servlet.BloggerToUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BloggerToUpdateServlet</servlet-name>
    <url-pattern>/BloggerToUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BloggerUpdateServlet</display-name>
    <servlet-name>BloggerUpdateServlet</servlet-name>
    <servlet-class>com.tylt.servlet.BloggerUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BloggerUpdateServlet</servlet-name>
    <url-pattern>/BloggerUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BloggerShowServlet</display-name>
    <servlet-name>BloggerShowServlet</servlet-name>
    <servlet-class>com.tylt.servlet.BloggerShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BloggerShowServlet</servlet-name>
    <url-pattern>/BloggerShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.tylt.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>com.tylt.servlet.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicToDeleteServlet</display-name>
    <servlet-name>TopicToDeleteServlet</servlet-name>
    <servlet-class>com.tylt.servlet.TopicToDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicToDeleteServlet</servlet-name>
    <url-pattern>/TopicToDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyCodeServlet</display-name>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>com.tylt.servlet.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/VerifyCodeServlet</url-pattern>
  </servlet-mapping>
 
</web-app>